<?xml version="1.0"?>
<config>
    <modules>
        <LCB_GraphAll>
            <version>1.0.0</version>
        </LCB_GraphAll>
    </modules>
    <global>
        <models>
            <lcb_graphall>
                <class>LCB_GraphAll_Model</class>
            </lcb_graphall>
            <reports_resource>
                <rewrite>
                    <order_collection>LCB_GraphAll_Model_Reports_Resource_Order_Collection</order_collection>
                </rewrite>
            </reports_resource>
        </models>
    </global>
</config> 